Dockerfile
Dockerfile.*
docker-compose*.yml
.dockerignore
.gitignore
.vscode
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
poetry.lock
pyproject.toml
README.md
.editorconfig
*.env
*.env.*
.flaskenv
poetry.lock
pyproject.toml
.flake8
.pytest-cache
graphical-representation.png
request-data.json
schema.sql
